*{
  margin: 0;
  padding: 0;
}
h2{
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 550;
}
.fall-deals{
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;  
  cursor: grab;
  margin: 0 100px;
  scroll-behavior: smooth;
  .container{
    width: 200%;
    height: auto;
    .carusel{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 65%;
      gap: 20px;
      scroll-snap-align: center;
      .carusel-items{
          position: relative;
          scroll-snap-align: center;
          img{
              width: 100%;
              border-radius: 8px;
          }
          button:hover{
              background-color: orange;
              color: white;
              cursor: pointer;
          }

          

          }

          .item-text{
              .head:hover{
              color: orange;
              cursor: pointer;  
              }
          
          }
          .book{
              position: absolute;
              top: 20px;
              right: 25px;
              border: none;
              width: 40px;
              height: 40px;
              background-color: white;
              border-radius: 50%;
          }
          .plus{
              position: absolute;
              top: 75px;
              right: 25px;
              border: none;
              width: 40px;
              height: 40px;
              background-color: white;
              border-radius: 50%; 
          }
          .shop{
              position: absolute;
              bottom: 57px;
              right: 0px;
              border: none;
              width: 60px;
              height: 60px;
              background-color: white;
              border-radius: 10%;
          }

          }
      }
    }
  
  
@media only screen and (max-width: 982px){
  .fall-deals{
    margin: 0 40px;
    .container{
      .carusel{
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 755px){
  .fall-deals{
    margin: 0 25px;
    .container{
      .carusel{
        width: 250%;
      }
    }
  }
}
@media only screen and (max-width: 1024px){
  .fall-deals{
    margin: 0 40px;
  }
}
@media only screen and (max-width: 772px){
  .fall-deals{
    margin: 0 25px;
  }
}


