*{
    margin: 0;
    padding: 0;
  }
  h2{
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 550;
  }
  .new-arrivals-2{
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;  
    cursor: grab;
    margin: 0 100px;
    scroll-behavior: smooth;
    .container{
      width: 200%;
      height: auto;
      .carusel{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 67%;
        gap: 20px;
        scroll-snap-align: center;
        .carusel-items{
          scroll-snap-align: center;
          
          img{
            width: 100%;
            border-radius: 50%;
          }
          img:hover{
            transform:scale(1.1);
            cursor: pointer;
        }
          .item-text{
            text-align: center;
            .head:hover{
              color: orange;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  
  
  @media only screen and (max-width: 982px){
    .new-arrivals-2{
      margin: 0 40px;
      .container{
        .carusel{
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 755px){
    .new-arrivals-2{
      margin: 0 25px;
      .container{
        .carusel{
          width: 200%;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px){
    .new-arrivals-2{
      margin: 0 40px;
    }
  }
  @media only screen and (max-width: 772px){
    .new-arrivals-2{
      margin: 0 25px;
    }
  }
