*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.widgets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
    .out{
        display: flex;
        flex-direction: row;
        width: 32%;
        position: relative;
        img{
            width: 100%;
            border-radius: 7px;
        }
        .txt{
            position: absolute;
            top: 27%;
            left: 6%;
            button{
                padding: 3px;
                background-color: red;
                font-size: 10px;
                color: white;
                border-radius: 7px;
                border-top-left-radius: 0%;
                border: none;
            }
            h2{
                font-weight: bolder;
            }
            h3{
                font-weight: 200;
            }
        }
    }
}
.widget2{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
    .out{
        display: flex;
        flex-direction: row;
        width: 32%;
        position: relative;
        img{
            width: 100%;
            border-radius: 7px;
            height: 70%;
        }
        .txt{
            position: absolute;
            top: 7%;
            left: 27%;
            right: 27%;
            text-align: center;
            button{
                padding: 3px;
                background-color: red;
                font-size: 10px;
                color: white;
                border-radius: 7px;
                border-top-left-radius: 0%;
                border: none;
            }
            h2{
                font-weight: bolder;
            }
            h3{
                font-weight: 200;
            }
        }
    }
} 

@media only screen and (max-width:1200px) {
    .widgets{
        display: none;
    }
    .widget2{
        display: flex;
    }
}

@media only screen and (max-width:768px) {
    .widgets{
        display: flex;
        flex-direction: column;
        .out{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .widget2{
        display: none;
    }
    .middle{
        .right{
            .down{
                img{
                    display: none;

                }
                #last{
                    display: block !important;
                }
            }
        }
    }
}