.scroll{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 35px;
    z-index: 9999;
    .progress{
        svg{
            path{
                stroke: #FFAE00;
                stroke-width: 4px;
                transition: "stroke-dashoffset 10ms linear";         
                stroke-dasharray: 307.919, 307.919;
                stroke-dashoffset: 0;
                animation-name: scroll;
                animation-timeline: scroll();
            }
        }
    }
    .arrow{
        position: fixed;
        bottom: 22px;
        right: 22px;
        padding: 35px;
        svg{
            rotate: 270deg;
        }
    }
}

@keyframes scroll{
    0% {stroke-dashoffset: 307.919;}
    100% {stroke-dashoffset: 0;}
}
