*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    margin: auto;
    border: 2px solid black;
    margin-top: 15px;
    padding: 2px;
    tbody{
        text-align: center;       
        tr{
            td{
                padding: 3px;
                border: solid black 1px;
            }
        }
    }
}